
  
  body {
    background: #E6E6FA;
  }
  
  
  .container{
    height: 620px;
    width: 350px;
    background: #E6E6FA;
  }
   
  
  .title{
    text-align: center;
  }

  .conta a {
   color: black;
   position: absolute;
   margin-top: 10px;

  }

  .senha a {
    color: black;
    position: absolute;
    margin-top: 35px;
  }
 
  